In [3]:
from langdetect import detect
import pandas as pd

In [4]:
detect("hello, is it me you're looking for!")

'en'

In [41]:
data = pd.read_csv('../data/jan/reviews.csv', nrows=None)

In [37]:
data

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,11551,30672,2010-03-21,93896,Shar-Lyn,"The flat was bright, comfortable and clean and..."
1,11551,32236,2010-03-29,97890,Zane,We stayed with Adriano and Valerio for a week ...
2,11551,41044,2010-05-09,104133,Chase,Adriano was a fantastic host. We felt very at ...
3,11551,48926,2010-06-01,122714,John & Sylvia,We had a most wonderful stay with Adriano and ...
4,11551,58352,2010-06-28,111543,Monique,I'm not sure which of us misunderstood the s...
...,...,...,...,...,...,...
1549786,41379948,590480348,2020-01-08,173222569,Badia,The host canceled this reservation 3 days befo...
1549787,41391134,590456712,2020-01-08,128782912,Kathleen,The host canceled this reservation 64 days bef...
1549788,41394412,591054200,2020-01-10,216446754,Teresa,You cannot wait for more than Shelley's place ...
1549789,41405317,590696594,2020-01-09,279985990,Lyndsey,The host canceled this reservation 9 days befo...
1549790,41405736,590776706,2020-01-09,201856082,Rachel,The host canceled this reservation 24 days bef...

In [42]:
def comment_lang_is_en(comment):
    if type(comment) == str and len(comment) > 1:
        try:
            lang = detect(comment)
            if lang == 'en':
                return 1
        except:
            return 0
    return 0

In [43]:
%%time
data['lang_en'] = data['comments'].map(comment_lang_is_en)

CPU times: user 1h 18min 41s, sys: 19.7 s, total: 1h 19min
Wall time: 1h 19min 3s

In [44]:
data[data['lang_en']==1].count()

listing_id       1333125
id               1333125
date             1333125
reviewer_id      1333125
reviewer_name    1333125
comments         1333125
lang_en          1333125
dtype: int64

In [45]:
data_en = data[data['lang_en']==1].copy()

In [15]:
data.loc[39].comments

'\r\nIt was a very nice weekend in London.\r\nAdriano ist ein sehr guter Gastgeber und wir haben uns  wohl gefühlt.\r\nDie U Bahnstation ist ganz in der Nähe und das Stadtzentrum gut zu erreichen. In Brixton pulsiert das Leben. Wir wurden The Bright Londoner Wohnung wieder wählen.\r\nMargot und Ursel'

In [46]:
data_en.count()

listing_id       1333125
id               1333125
date             1333125
reviewer_id      1333125
reviewer_name    1333125
comments         1333125
lang_en          1333125
dtype: int64

In [70]:
data_en['comments'].sample(15)

264651     Great hospitality and great location. Georgia ...
1008634    The host canceled this reservation 19 days bef...
293480     Nice place. Works perfect! \nJust a bit far fr...
600172     We thoroughly enjoyed our stay.  Property was ...
788526     Ashraf was an amazing host. He made sure we fe...
99775      Large apartment with comfortable sofa and balc...
307994     Sam place was well centered. He is very friend...
1110486    It is in a great location! Really nice pubs ve...
1300429    I chose this as the most interesting looking A...
1452838    All good, convenient location for me, nice ins...
126660     Natalia's flat is perfectly located. The flat ...
1156941    Perfect host, perfect location, perfect room, ...
1231439    Lovely house in great location for events at F...
109120     Great location for Tower Bridge, very clean an...
1497219    One of the best stays I’ve had in London. What...
Name: comments, dtype: object

In [52]:
data_en.drop(columns=['lang_en']).to_csv('../data/jan/reviews_en.csv')

In [50]:
detect(data.loc[1086350,'comments'])

'en'

In [51]:
data.loc[1086350,'comments']

'Kann man uneingeschränkt weiterempfehlen, die Lage ist echt super! \n\nI can recommend this room to everyone with low budget, who wants to stay near Brick lane. Very clean.'

In [71]:
1333125/1549791

0.8601966329653482