In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import fivestar
from fivestar.data import get_data
from fivestar.encoders import AmenitiesEncoder, AmenitiesCounter, CancellationEncoder, RoomTypeEncoder, PriceRatioEncoder
from fivestar.encoders import AccomodatesToRoomsRatioEncoder, HostResponseRateEncoder, CategoricalColumnEncoder
from fivestar.encoders import ScoreDeltaEncoder
from fivestar.lib import FiveStar

import pandas as pd
import numpy as np

In [3]:
listings = get_data()
amen = AmenitiesEncoder()
amen.transform(listings)

       Freeparkingonpremises  Wifi  Breakfast
0                          1     1          0
1                          1     1          0
2                          0     1          0
3                          1     1          0
5                          1     1          0
6                          1     1          0
7                          1     1          0
8                          0     1          1
9                          0     1          0
10                         1     1          1
11                         0     1          1
12                         1     1          1
14                         1     1          1
15                         1     1          0
18                         0     1          0
20                         0     1          0
21                         1     1          0
22                         1     1          1
23                         0     1          0
25                         1     1          0
26                         1     1          1
28                         1     1          0
29                         1     1          0
30                         0     1          1
31                         0     1          1
33                         1     1          0
37                         0     1          0
38                         1     1          0
39                         1     1          1
40                         1     1          0
...                      ...   ...        ...
85371                      1     1          0
85372                      1     1          0
85424                      0     0          0
85457                      1     1          0
85468                      1     0          0
85529                      1     1          0
85546                      1     1          1
85566                      0     1          0
85569                      0     1          0
85572                      0     1          0
85610                      1     1          1
85645                      1     0          0
85706                      1     1          0
85720                      0     1          0
85735                      1     1          0
85764                      0     1          0
85765                      0     1          0
85876                      1     1          0
85945                      0     1          0
85971                      1     1          0
85987                      0     1          0
85995                      0     1          0
86137                      1     1          0
86151                      0     1          0
86243                      1     1          0
86352                      1     1          0
86599                      1     1          0
86651                      0     1          0
86666                      0     1          0
86667                      0     1          0

[51749 rows x 3 columns]

In [53]:
listings[['id','amenities']].head()

      id                                          amenities
0  11551  {TV,"Cable TV",Internet,Wifi,Kitchen,"Paid par...
1  13913  {TV,"Cable TV",Wifi,Kitchen,"Paid parking off ...
2  15400  {TV,"Cable TV",Internet,Wifi,"Air conditioning...
3  17402  {TV,Wifi,Kitchen,"Paid parking off premises",E...
5  25023  {TV,Wifi,Kitchen,"Free parking on premises",El...

In [5]:
amcount = ScoreDeltaEncoder()
amcount.transform(listings)

       cleanliness_score_delta
0                    -0.333333
1                     0.333333
2                     0.166667
3                    -0.333333
5                     0.500000
6                     0.166667
7                     0.500000
8                    -0.666667
9                     0.166667
10                    0.000000
11                   -0.833333
12                    0.166667
14                    0.166667
15                   -0.833333
18                   -2.000000
20                    0.166667
21                   -0.166667
22                   -0.500000
23                    0.000000
25                    0.000000
26                    0.000000
28                    0.166667
29                    0.333333
30                   -0.500000
31                   -0.166667
33                   -0.666667
37                    0.000000
38                    0.000000
39                    0.000000
40                    0.166667
...                        ...
85371                 0.000000
85372                 0.000000
85424                 0.000000
85457                 0.000000
85468                 0.166667
85529                -0.666667
85546                -0.333333
85566                 0.166667
85569                 0.000000
85572                 0.000000
85610                 0.000000
85645                 0.000000
85706                 0.166667
85720                 0.166667
85735                 0.000000
85764                 0.166667
85765                 0.000000
85876                 0.000000
85945                -0.833333
85971                 0.000000
85987                 0.000000
85995                 0.000000
86137                 0.000000
86151                 0.000000
86243                 0.000000
86352                 0.000000
86599                 0.000000
86651                 0.000000
86666                 0.166667
86667                 0.000000

[51749 rows x 1 columns]

In [ ]:
def get_df_cluster_listings(borough, property_type, num_bedrooms, price):
    """
    Returns df of listings filters into cluster as defined by input params.
    Columns tbc
    """
    pass

def cluster_avg_review_score(cluster_df):
    """Already in df"""
    pass

def listing_rank_in_cluster(listing_id, cluster_df):
    pass

In [6]:
from fivestar.trainer import Trainer

In [7]:
X = listings
y = listings['review_scores_rating']

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [8]:
trainer = Trainer(X,y, split=True)

In [9]:
trainer.train()

LinearRegression

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

In [10]:
trainer.evaluate()

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

rmse train: 0.1917 || rmse val: 0.178

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [11]:
listing_id = 13913

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [12]:
fs = FiveStar()

In [31]:
from fivestar.trainer import Trainer

In [36]:
data = get_data()
X = data
y = data['review_scores_rating']

ts = Trainer(X, y)

ts.train()

Ridge

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

In [40]:
ts.evaluate()

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

rmse train: 0.1916 || rmse val: 0.178

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [ ]:
	column	coef
0	instant_bookable	-1.046988
9	accommodates_to_rooms_ratio	-0.900798
11	cancellation_policy_strict	-0.528780
7	host_listings_count	-0.478411
12	room_type_Entire	-0.320066
4	Freeparkingonpremises	0.347073
5	Wifi	0.375161
6	Breakfast	0.457774
8	host_response_rate	0.495992
1	host_identity_verified	0.564064
2	price_ratio	0.592768
3	amenities_count	0.720258
10	cleanliness_delta	1.949704

In [34]:
columns = ['parking', 'wifi', 'breakfast', 'amenity_count', 'instant_bookable', 'host_identity_verified',
                            'price_ratio', 'listing_count', 'cancellation',
                            'response_rate', 'room_ratio', 'cleanliness_delta',
                            'room_type']

In [38]:
coefs = ts.pipeline.named_steps['rgs'].coef_
coefs

array([ 0.69420284,  2.40113603,  1.37605591,  0.72372033, -2.10230002,
        1.1490509 ,  0.59307199, -0.47908227, -1.05425309,  0.49597463,
       -0.90225788,  1.95013201, -0.64968071])

In [41]:
coefs_df = pd.DataFrame(coefs, columns).reset_index()
coefs_df.columns = ['column', 'coef']

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [43]:
coefs_df.sort_values('coef', ascending=False)

                    column      coef
1                     wifi  2.401136
11       cleanliness_delta  1.950132
2                breakfast  1.376056
5   host_identity_verified  1.149051
3            amenity_count  0.723720
0                  parking  0.694203
6              price_ratio  0.593072
9            response_rate  0.495975
7            listing_count -0.479082
12               room_type -0.649681
10              room_ratio -0.902258
8             cancellation -1.054253
4         instant_bookable -2.102300

In [30]:
coefs_dict = {k:v for k,v in zip(columns,coefs)}

In [49]:
ts.pipeline.predict(listings.loc[5:5])

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

array([94.75396808])