In [1]:
%load_ext autoreload
%autoreload 2

In [12]:
import fivestar
from fivestar.data import get_data
from fivestar.encoders import AmenitiesEncoder, AmenitiesCounter, CancellationEncoder, RoomTypeEncoder, PriceRatioEncoder
from fivestar.encoders import AccomodatesToRoomsRatioEncoder, HostResponseRateEncoder, CategoricalColumnEncoder
from fivestar.encoders import ScoreDeltaEncoder
from fivestar.lib import FiveStar

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [2]:
listings = get_data()
amen = AmenitiesEncoder()
amen.transform(listings)

,Freeparkingonpremises,Dryer,Wifi,Breakfast,Indoorfireplace,TV,Smokealarm
0,1,0,1,0,0,1,1
1,1,1,1,0,0,1,1
2,0,1,1,0,0,1,1
3,1,1,1,0,0,1,1
5,1,0,1,0,0,1,1
6,1,0,1,0,0,0,1
7,1,1,1,0,0,0,1
8,0,0,1,1,0,0,1
9,0,1,1,0,0,1,1
10,1,0,1,1,0,1,1
11,0,1,1,1,0,1,1
12,1,0,1,1,1,1,0
14,1,0,1,1,0,0,1
15,1,0,1,0,1,1,1
18,0,1,1,0,0,1,1
20,0,0,1,0,0,0,1
21,1,0,1,0,0,1,1
22,1,0,1,1,0,1,1
23,0,0,1,0,0,0,1
25,1,1,1,0,0,0,1
26,1,0,1,1,0,1,1
28,1,0,1,0,0,1,1
29,1,0,1,0,0,1,1
30,0,0,1,1,0,1,0
31,0,0,1,1,0,1,0
33,1,1,1,0,0,0,1
37,0,1,1,0,0,1,1
38,1,0,1,0,0,0,1
39,1,0,1,1,0,1,1
40,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...
85371,1,1,1,0,0,0,1
85372,1,1,1,0,0,0,1
85424,0,0,0,0,0,0,0
85457,1,0,1,0,0,1,1
85468,1,0,0,0,0,0,1
85529,1,1,1,0,0,1,1
85546,1,0,1,1,0,1,1
85566,0,0,1,0,0,0,1
85569,0,0,1,0,0,0,1
85572,0,0,1,0,0,0,1
85610,1,0,1,1,0,1,1
85645,1,0,0,0,0,0,1
85706,1,1,1,0,0,1,1
85720,0,1,1,0,0,1,1
85735,1,0,1,0,0,1,1
85764,0,0,1,0,0,0,1
85765,0,0,1,0,0,0,1
85876,1,0,1,0,0,1,1
85945,0,1,1,0,0,1,1
85971,1,0,1,0,0,1,1
85987,0,0,1,0,0,0,0
85995,0,0,1,0,0,1,1
86137,1,0,1,0,0,0,1
86151,0,1,1,0,0,1,1
86243,1,1,1,0,0,1,0
86352,1,0,1,0,0,0,1
86599,1,0,1,0,0,1,1
86651,0,1,1,0,0,0,1
86666,0,1,1,0,0,0,1
86667,0,1,1,0,0,0,1

In [4]:
listings.columns

Index(['id', 'name', 'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_identity_verified', 'street',
       'neighbourhood_cleansed', 'zipcode', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'reviews_per_month'],
      dtype='object')

In [5]:
amcount = ScoreDeltaEncoder()
amcount.transform(listings)

       cleanliness_score_delta
0                    -0.333333
1                     0.333333
2                     0.166667
3                    -0.333333
5                     0.500000
...                        ...
86352                 0.000000
86599                 0.000000
86651                 0.000000
86666                 0.166667
86667                 0.000000

[51749 rows x 1 columns]

In [ ]:
def get_df_cluster_listings(borough, property_type, num_bedrooms, price):
    """
    Returns df of listings filters into cluster as defined by input params.
    Columns tbc
    """
    pass

def cluster_avg_review_score(cluster_df):
    """Already in df"""
    pass

def listing_rank_in_cluster(listing_id, cluster_df):
    pass

In [5]:
from fivestar.trainer import Trainer

In [6]:
X = listings
y = listings['review_scores_rating']

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [7]:
trainer = Trainer(X,y, split=True)

In [8]:
trainer.train()

LinearRegression

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

In [9]:
trainer.evaluate()

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

rmse train: 0.1953 || rmse val: 0.1818

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [17]:
listing_id = 13913

In [13]:
fs = FiveStar()

In [19]:
fs.listings.loc[1].to_dict()

TypeError: unsupported type: <class 'str'>

In [21]:
listings[listings['id'] == listing_id].to_dict('records')[0]

{'id': 13913,
 'name': 'Holiday London DB Room Let-on going',
 'summary': 'My bright double bedroom with a large window has a relaxed feeling! It comfortably fits one or two and is centrally located just two blocks from Finsbury Park. Enjoy great restaurants in the area and easy access to easy transport tubes, trains and buses. Babies and children of all ages are welcome.',
 'space': "Hello Everyone, I'm offering my lovely double bedroom in Finsbury Park area (zone 2) for let in a shared apartment.  You will share the apartment with me and it is fully furnished with a self catering kitchen. Two people can easily sleep well as the room has a queen size bed. I also have a travel cot for a baby for guest with small children.  I will require a deposit up front as a security gesture on both our parts and will be given back to you when you return the keys.  I trust anyone who will be responding to this add would treat my home with care and respect .  Best Wishes  Alina",
 'description': "My bright double bedroom with a large window has a relaxed feeling! It comfortably fits one or two and is centrally located just two blocks from Finsbury Park. Enjoy great restaurants in the area and easy access to easy transport tubes, trains and buses. Babies and children of all ages are welcome. Hello Everyone, I'm offering my lovely double bedroom in Finsbury Park area (zone 2) for let in a shared apartment.  You will share the apartment with me and it is fully furnished with a self catering kitchen. Two people can easily sleep well as the room has a queen size bed. I also have a travel cot for a baby for guest with small children.  I will require a deposit up front as a security gesture on both our parts and will be given back to you when you return the keys.  I trust anyone who will be responding to this add would treat my home with care and respect .  Best Wishes  Alina Guest will have access to the self catering kitchen and bathroom. There is the flat is equipped wifi internet,",
 'experiences_offered': 'business',
 'neighborhood_overview': 'Finsbury Park is a friendly melting pot community composed of Turkish, French, Spanish, Middle Eastern, Irish and English families.  We have a wonderful variety of international restaurants directly under us on Stroud Green Road. And there are many shops and large Tescos supermarket right next door.  But you can also venture up to Crouch End and along Greens Lanes where there will endless choice of Turkish and Middle Eastern cuisines.s',
 'notes': 'For art lovers I can give guest my Tate Members card to which offers free access to the both the Tate Galleries.',
 'transit': 'The flat only a 10 minute walk to Finsbury Park Station (London Zone 2) with access to the Piccadilly and Victoria lines, as well Finsbury Park over land trains. You can get to downtown central London in 10-15 minutes and to Heathrow airport in 1 hour and 20 minutes.',
 'access': "Guest will have access to the self catering kitchen and bathroom. There is the flat is equipped wifi internet, a washing machine equipped with dryer for laundry and a hair drier in the bathroom. Since the flat is non smoking guest can go outside the little front balcony and have a cigarette if they like.  Note:  I will be staying on the pull out couch in the living room at night and working away from home in daytime.  I don't mind if guests coming in to relax on the sofa, read, listen to music and or watch TV when I'm way or not using the room. My aim is make guest free as comfortable as I can:).",
 'interaction': 'I like to have little chats with my guest over a cup of coffee or tea or even a drink in our local pubs-if work and our daily plains permit it:)',
 'house_rules': "I'm an artist and have my artwork up on the wall so please care.  When existing: You must lock all doors and windows when leaving the apartment and building and respect the other tenants in the building. If any problems arise you must contact me asap via telephone.",
 'host_since': Timestamp('2009-11-16 00:00:00'),
 'host_location': 'London, England, United Kingdom',
 'host_about': 'I am a Multi-Media Visual Artist and Creative Practitioner in Education. I live in  London England with a Greek/Canadian origins and work internationally. \r\n\r\nI love everything there is to be enjoyed in life and travel is on top of my list!',
 'host_response_time': 'within a few hours',
 'host_response_rate': '70%',
 'host_neighbourhood': 'LB of Islington',
 'host_listings_count': 4.0,
 'host_total_listings_count': 4.0,
 'host_verifications': "['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'selfie', 'government_id']",
 'host_identity_verified': 't',
 'street': 'Islington, Greater London, United Kingdom',
 'neighbourhood_cleansed': 'Islington',
 'zipcode': 'N4 3',
 'latitude': 51.568020000000004,
 'longitude': -0.11120999999999999,
 'is_location_exact': 't',
 'property_type': 'Apartment',
 'room_type': 'Private room',
 'accommodates': 2,
 'bathrooms': 1.0,
 'bedrooms': 1.0,
 'beds': 0.0,
 'bed_type': 'Real Bed',
 'amenities': '{TV,"Cable TV",Wifi,Kitchen,"Paid parking off premises","Smoking allowed","Free street parking","Buzzer/wireless intercom",Heating,"Family/kid friendly",Washer,Dryer,"Smoke detector","Carbon monoxide detector","Fire extinguisher",Essentials,Shampoo,"Lock on bedroom door",Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Outlet covers",Bathtub,"Children’s books and toys","Babysitter recommendations",Crib,"Pack ’n Play/travel crib","Room-darkening shades","Children’s dinnerware","Hot water","Bed linens","Extra pillows and blankets","Ethernet connection","Coffee maker",Refrigerator,"Dishes and silverware","Cooking basics",Oven,Stove,"Patio or balcony","Luggage dropoff allowed","Long term stays allowed","Host greets you","Handheld shower head"}',
 'price': '$65.00',
 'weekly_price': '$333.00',
 'monthly_price': '$1,176.00',
 'security_deposit': '$100.00',
 'cleaning_fee': '$15.00',
 'guests_included': 1,
 'extra_people': '$15.00',
 'minimum_nights': 1,
 'maximum_nights': 29,
 'availability_30': 30,
 'availability_60': 60,
 'availability_90': 90,
 'availability_365': 365,
 'number_of_reviews': 20,
 'number_of_reviews_ltm': 6,
 'first_review': Timestamp('2010-08-18 00:00:00'),
 'last_review': Timestamp('2019-11-25 00:00:00'),
 'review_scores_rating': 97.0,
 'review_scores_accuracy': 10.0,
 'review_scores_cleanliness': 10.0,
 'review_scores_checkin': 10.0,
 'review_scores_communication': 10.0,
 'review_scores_location': 9.0,
 'review_scores_value': 9.0,
 'instant_bookable': 'f',
 'cancellation_policy': 'moderate',
 'require_guest_profile_picture': 'f',
 'require_guest_phone_verification': 'f',
 'reviews_per_month': 0.17}