In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import fivestar
from fivestar.data import get_data
from fivestar.encoders import AmenitiesEncoder, AmenitiesCounter, CancellationEncoder, RoomTypeEncoder, PriceRatioEncoder
from fivestar.encoders import AccomodatesToRoomsRatioEncoder, HostResponseRateEncoder, CategoricalColumnEncoder
from fivestar.encoders import ScoreDeltaEncoder
from fivestar.lib import FiveStar

import pandas as pd
import numpy as np

In [3]:
listings = get_data()
amen = AmenitiesEncoder()
amen.transform(listings)

       Freeparkingonpremises  Wifi  Breakfast
0                          1     1          0
1                          1     1          0
2                          0     1          0
3                          1     1          0
5                          1     1          0
6                          1     1          0
7                          1     1          0
8                          0     1          1
9                          0     1          0
10                         1     1          1
11                         0     1          1
12                         1     1          1
14                         1     1          1
15                         1     1          0
18                         0     1          0
20                         0     1          0
21                         1     1          0
22                         1     1          1
23                         0     1          0
25                         1     1          0
26                         1     1          1
28                         1     1          0
29                         1     1          0
30                         0     1          1
31                         0     1          1
33                         1     1          0
37                         0     1          0
38                         1     1          0
39                         1     1          1
40                         1     1          0
...                      ...   ...        ...
85371                      1     1          0
85372                      1     1          0
85424                      0     0          0
85457                      1     1          0
85468                      1     0          0
85529                      1     1          0
85546                      1     1          1
85566                      0     1          0
85569                      0     1          0
85572                      0     1          0
85610                      1     1          1
85645                      1     0          0
85706                      1     1          0
85720                      0     1          0
85735                      1     1          0
85764                      0     1          0
85765                      0     1          0
85876                      1     1          0
85945                      0     1          0
85971                      1     1          0
85987                      0     1          0
85995                      0     1          0
86137                      1     1          0
86151                      0     1          0
86243                      1     1          0
86352                      1     1          0
86599                      1     1          0
86651                      0     1          0
86666                      0     1          0
86667                      0     1          0

[51749 rows x 3 columns]

In [53]:
listings[['id','amenities']].head()

      id                                          amenities
0  11551  {TV,"Cable TV",Internet,Wifi,Kitchen,"Paid par...
1  13913  {TV,"Cable TV",Wifi,Kitchen,"Paid parking off ...
2  15400  {TV,"Cable TV",Internet,Wifi,"Air conditioning...
3  17402  {TV,Wifi,Kitchen,"Paid parking off premises",E...
5  25023  {TV,Wifi,Kitchen,"Free parking on premises",El...

In [5]:
amcount = ScoreDeltaEncoder()
amcount.transform(listings)

       cleanliness_score_delta
0                    -0.333333
1                     0.333333
2                     0.166667
3                    -0.333333
5                     0.500000
6                     0.166667
7                     0.500000
8                    -0.666667
9                     0.166667
10                    0.000000
11                   -0.833333
12                    0.166667
14                    0.166667
15                   -0.833333
18                   -2.000000
20                    0.166667
21                   -0.166667
22                   -0.500000
23                    0.000000
25                    0.000000
26                    0.000000
28                    0.166667
29                    0.333333
30                   -0.500000
31                   -0.166667
33                   -0.666667
37                    0.000000
38                    0.000000
39                    0.000000
40                    0.166667
...                        ...
85371                 0.000000
85372                 0.000000
85424                 0.000000
85457                 0.000000
85468                 0.166667
85529                -0.666667
85546                -0.333333
85566                 0.166667
85569                 0.000000
85572                 0.000000
85610                 0.000000
85645                 0.000000
85706                 0.166667
85720                 0.166667
85735                 0.000000
85764                 0.166667
85765                 0.000000
85876                 0.000000
85945                -0.833333
85971                 0.000000
85987                 0.000000
85995                 0.000000
86137                 0.000000
86151                 0.000000
86243                 0.000000
86352                 0.000000
86599                 0.000000
86651                 0.000000
86666                 0.166667
86667                 0.000000

[51749 rows x 1 columns]

In [ ]:
def get_df_cluster_listings(borough, property_type, num_bedrooms, price):
    """
    Returns df of listings filters into cluster as defined by input params.
    Columns tbc
    """
    pass

def cluster_avg_review_score(cluster_df):
    """Already in df"""
    pass

def listing_rank_in_cluster(listing_id, cluster_df):
    pass

In [6]:
from fivestar.trainer import Trainer

In [7]:
X = listings
y = listings['review_scores_rating']

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [8]:
trainer = Trainer(X,y, split=True)

In [9]:
trainer.train()

LinearRegression

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

In [10]:
trainer.evaluate()

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

rmse train: 0.1917 || rmse val: 0.178

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [11]:
listing_id = 13913

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [12]:
fs = FiveStar()

In [31]:
from fivestar.trainer import Trainer

In [36]:
data = get_data()
X = data
y = data['review_scores_rating']

ts = Trainer(X, y)

ts.train()

Ridge

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

In [40]:
ts.evaluate()

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

rmse train: 0.1916 || rmse val: 0.178

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [ ]:
	column	coef
0	instant_bookable	-1.046988
9	accommodates_to_rooms_ratio	-0.900798
11	cancellation_policy_strict	-0.528780
7	host_listings_count	-0.478411
12	room_type_Entire	-0.320066
4	Freeparkingonpremises	0.347073
5	Wifi	0.375161
6	Breakfast	0.457774
8	host_response_rate	0.495992
1	host_identity_verified	0.564064
2	price_ratio	0.592768
3	amenities_count	0.720258
10	cleanliness_delta	1.949704

In [34]:
columns = ['parking', 'wifi', 'breakfast', 'amenity_count', 'instant_bookable', 'host_identity_verified',
                            'price_ratio', 'listing_count', 'cancellation',
                            'response_rate', 'room_ratio', 'cleanliness_delta',
                            'room_type']

In [38]:
coefs = ts.pipeline.named_steps['rgs'].coef_
coefs

array([ 0.69420284,  2.40113603,  1.37605591,  0.72372033, -2.10230002,
        1.1490509 ,  0.59307199, -0.47908227, -1.05425309,  0.49597463,
       -0.90225788,  1.95013201, -0.64968071])

In [41]:
coefs_df = pd.DataFrame(coefs, columns).reset_index()
coefs_df.columns = ['column', 'coef']

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [43]:
coefs_df.sort_values('coef', ascending=False)

                    column      coef
1                     wifi  2.401136
11       cleanliness_delta  1.950132
2                breakfast  1.376056
5   host_identity_verified  1.149051
3            amenity_count  0.723720
0                  parking  0.694203
6              price_ratio  0.593072
9            response_rate  0.495975
7            listing_count -0.479082
12               room_type -0.649681
10              room_ratio -0.902258
8             cancellation -1.054253
4         instant_bookable -2.102300

In [30]:
coefs_dict = {k:v for k,v in zip(columns,coefs)}

In [49]:
ts.pipeline.predict(listings.loc[5:5])

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/pipeline.py:451: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

array([94.75396808])

In [111]:
fs = FiveStar()

In [67]:
clusters = fs.clusters.set_index('Unnamed: 0')

In [110]:
fs.listings.set_index('id')[['price','instant_bookable','cancellation_policy']]

            price instant_bookable          cancellation_policy
id
11551      $88.00                t  strict_14_with_grace_period
13913      $65.00                f                     moderate
15400     $100.00                t  strict_14_with_grace_period
17402     $300.00                t  strict_14_with_grace_period
25023      $65.00                t                     moderate
25123      $29.00                t  strict_14_with_grace_period
33332     $100.00                f                     flexible
34825      $45.00                f  strict_14_with_grace_period
36299     $195.00                f                     moderate
36660      $72.00                t  strict_14_with_grace_period
36986      $80.00                f  strict_14_with_grace_period
37384      $70.00                f  strict_14_with_grace_period
38605      $62.00                f                     moderate
38610     $296.00                f  strict_14_with_grace_period
39387      $39.00                f                     moderate
41311      $25.00                t  strict_14_with_grace_period
41445     $105.00                t  strict_14_with_grace_period
41509      $49.00                f                     moderate
41712      $60.00                f  strict_14_with_grace_period
42001      $60.00                f                     moderate
42010      $45.00                t  strict_14_with_grace_period
43129      $36.00                f  strict_14_with_grace_period
43202     $100.00                t                     moderate
44144      $65.00                f                     flexible
44237      $55.00                f  strict_14_with_grace_period
45168     $125.00                f                     flexible
46992      $58.00                f  strict_14_with_grace_period
47192      $39.00                f  strict_14_with_grace_period
47369      $48.00                f  strict_14_with_grace_period
49970      $55.00                t  strict_14_with_grace_period
...           ...              ...                          ...
40929441  $150.00                t  strict_14_with_grace_period
40929756  $150.00                t  strict_14_with_grace_period
40938495   $89.00                t  strict_14_with_grace_period
40944323  $199.00                f                     moderate
40948107   $29.00                f  strict_14_with_grace_period
40963364  $250.00                f  strict_14_with_grace_period
40966547  $145.00                f                     moderate
40969971  $120.00                t  strict_14_with_grace_period
40970354  $120.00                t  strict_14_with_grace_period
40970802  $120.00                t  strict_14_with_grace_period
40982834   $29.00                t                     moderate
40988340   $95.00                t                     moderate
41003327  $150.00                f  strict_14_with_grace_period
41005157  $350.00                t  strict_14_with_grace_period
41006965  $130.00                t  strict_14_with_grace_period
41010922   $50.00                t  strict_14_with_grace_period
41011237   $32.00                t  strict_14_with_grace_period
41036376  $168.00                t                     moderate
41046866  $119.00                t                     moderate
41055907   $32.00                t                     flexible
41059421   $75.00                t  strict_14_with_grace_period
41061040  $300.00                t                     flexible
41106752  $129.00                t  strict_14_with_grace_period
41110885  $350.00                f                     flexible
41144165  $450.00                f                     flexible
41172620   $59.00                t  strict_14_with_grace_period
41235386  $300.00                t                     flexible
41254738   $48.00                t  strict_14_with_grace_period
41256620   $58.00                t  strict_14_with_grace_period
41256815   $45.00                t  strict_14_with_grace_period

[51749 rows x 3 columns]

In [112]:
clusters = fs.clusters.set_index('listing_id').join(
    fs.listings.set_index('id')[['price','review_scores_cleanliness','amenities','instant_bookable','cancellation_policy']])

In [113]:
from fivestar.utils import str_to_price, has_wifi, has_breakfast, cancel_policy_is_strict, is_instant_bookable

clusters['price'] = clusters['price'].map(str_to_price)
clusters['Wifi'] = clusters['amenities'].map(has_wifi)
clusters['Breakfast'] = clusters['amenities'].map(has_breakfast)
clusters['instant_bookable'] = clusters['instant_bookable'].map(is_instant_bookable)
clusters['cancellation_policy'] = clusters['cancellation_policy'].map(cancel_policy_is_strict)

In [114]:
avgs_per_cluster = clusters.groupby('cluster')[['price','review_scores_cleanliness']].mean()
cluster_groups = clusters.groupby('cluster')[['Wifi','Breakfast','instant_bookable','cancellation_policy']]
rates_per_cluster = np.round(100 * cluster_groups.sum() / cluster_groups.count())

In [126]:
avgs_per_cluster.join(rates_per_cluster)

/Users/ed/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                                                      price  review_scores_cleanliness   Wifi  Breakfast  instant_bookable  cancellation_policy
cluster
L:Barking and Dagenham_P:average_S:room           39.314286                   9.342857   97.0       14.0              43.0                 34.0
L:Barking and Dagenham_P:average_S:small          35.000000                  10.000000  100.0        0.0               0.0                100.0
L:Barking and Dagenham_P:cheap_S:room             27.766667                   9.100000   97.0       13.0              73.0                 23.0
L:Barking and Dagenham_P:cheap_S:small            30.000000                  10.000000    0.0        0.0               0.0                  0.0
L:Barking and Dagenham_P:expensive_S:large        66.000000                   9.125000  100.0       12.0              50.0                 62.0
L:Barking and Dagenham_P:expensive_S:room         59.555556                   9.111111   89.0       22.0              67.0                  0.0
L:Barking and Dagenham_P:expensive_S:small        63.470588                   9.294118  100.0       29.0              71.0                 47.0
L:Barking and Dagenham_P:very_cheap_S:room        19.481481                   9.444444  100.0        4.0              37.0                 37.0
L:Barking and Dagenham_P:very_expensive_S:large  139.035714                   9.035714  100.0        4.0              50.0                 54.0
L:Barking and Dagenham_P:very_expensive_S:room   136.666667                   9.333333  100.0        0.0             100.0                100.0
L:Barking and Dagenham_P:very_expensive_S:small   84.000000                   9.600000  100.0        0.0              60.0                 20.0
L:Barnet_P:average_S:large                        55.400000                   9.300000  100.0       20.0              40.0                 40.0
L:Barnet_P:average_S:room                         50.546296                   9.527778   95.0       28.0              44.0                 40.0
L:Barnet_P:average_S:small                        54.625000                   9.354167   98.0       10.0              48.0                 25.0
L:Barnet_P:cheap_S:room                           35.413793                   9.640394   98.0       26.0              42.0                 33.0
L:Barnet_P:cheap_S:small                          36.000000                   9.375000  100.0       12.0              25.0                 75.0
L:Barnet_P:expensive_S:large                      79.961538                   9.211538   96.0       12.0              40.0                 48.0
L:Barnet_P:expensive_S:room                       78.128205                   9.230769  100.0       23.0              67.0                 13.0
L:Barnet_P:expensive_S:small                      74.270270                   9.364865   95.0       11.0              55.0                 38.0
L:Barnet_P:very_cheap_S:room                      24.406780                   9.610169   98.0       21.0              43.0                 30.0
L:Barnet_P:very_cheap_S:small                     29.000000                   8.000000  100.0        0.0               0.0                100.0
L:Barnet_P:very_expensive_S:large                156.964286                   9.242857   99.0        9.0              44.0                 64.0
L:Barnet_P:very_expensive_S:room                 117.250000                   9.875000  100.0       25.0              50.0                100.0
L:Barnet_P:very_expensive_S:small                118.944444                   9.333333  100.0        0.0              33.0                 39.0
L:Bexley_P:average_S:room                         32.000000                   9.777778  100.0       28.0              56.0                 22.0
L:Bexley_P:cheap_S:room                           26.388889                   9.944444  100.0       28.0              33.0                 28.0
L:Bexley_P:cheap_S:small                          25.000000                  10.000000  100.0      100.0               0.0                  0.0
L:Bexley_P:expensive_S:large                      68.000000                  10.000000  100.0        0.0               0.0                  0.0
L:Bexley_P:expensive_S:room                       44.000000                   9.750000  100.0       25.0              38.0                 25.0
L:Bexley_P:expensive_S:small                      60.750000                   9.750000  100.0        0.0             100.0                 25.0
...                                                     ...                        ...    ...        ...               ...                  ...
L:Wandsworth_P:average_S:large                    83.315789                   9.221053   98.0       12.0              26.0                 41.0
L:Wandsworth_P:average_S:room                     77.677852                   9.677852  100.0       30.0              40.0                 40.0
L:Wandsworth_P:average_S:small                    79.836910                   9.489270   96.0       10.0              30.0                 45.0
L:Wandsworth_P:cheap_S:large                      58.692308                   8.923077  100.0        8.0              23.0                 38.0
L:Wandsworth_P:cheap_S:room                       52.161692                   9.675810   99.0       32.0              36.0                 33.0
L:Wandsworth_P:cheap_S:small                      58.963415                   9.439024   98.0       12.0              38.0                 37.0
L:Wandsworth_P:expensive_S:large                 114.716667                   9.356667   97.0        7.0              32.0                 50.0
L:Wandsworth_P:expensive_S:room                  105.271186                   9.762712  100.0       32.0              32.0                 37.0
L:Wandsworth_P:expensive_S:small                 106.393333                   9.480000   95.0       10.0              30.0                 48.0
L:Wandsworth_P:very_cheap_S:large                 35.666667                   9.000000  100.0       33.0              67.0                 33.0
L:Wandsworth_P:very_cheap_S:room                  33.475789                   9.364211   98.0       19.0              46.0                 40.0
L:Wandsworth_P:very_cheap_S:small                 35.500000                   9.500000  100.0        0.0              12.0                 25.0
L:Wandsworth_P:very_expensive_S:large            233.839623                   9.495283   99.0        7.0              39.0                 61.0
L:Wandsworth_P:very_expensive_S:room             206.647059                   9.823529  100.0       24.0              53.0                 53.0
L:Wandsworth_P:very_expensive_S:small            270.206349                   9.476190   97.0        5.0              51.0                 48.0
L:Westminster_P:average_S:large                  129.086826                   9.026946   99.0        5.0              40.0                 59.0
L:Westminster_P:average_S:room                   122.180851                   9.425532   98.0       16.0              62.0                 65.0
L:Westminster_P:average_S:small                  126.554318                   9.266017   98.0        4.0              49.0                 65.0
L:Westminster_P:cheap_S:large                     95.051282                   8.987179   98.0        3.0              44.0                 63.0
L:Westminster_P:cheap_S:room                      86.814815                   9.407407   97.0       16.0              53.0                 54.0
L:Westminster_P:cheap_S:small                     92.658629                   9.106599   96.0        4.0              50.0                 55.0
L:Westminster_P:expensive_S:large                182.550685                   9.201370   97.0        4.0              47.0                 68.0
L:Westminster_P:expensive_S:room                 175.557143                   9.028571   96.0       13.0              57.0                 57.0
L:Westminster_P:expensive_S:small                177.184644                   9.310786   98.0        6.0              51.0                 68.0
L:Westminster_P:very_cheap_S:large                54.904762                   8.904762   95.0        0.0              67.0                 71.0
L:Westminster_P:very_cheap_S:room                 51.128866                   9.042268   97.0       18.0              59.0                 59.0
L:Westminster_P:very_cheap_S:small                62.347561                   9.060976   96.0        6.0              61.0                 51.0
L:Westminster_P:very_expensive_S:large           441.107796                   9.330125   99.0        6.0              55.0                 73.0
L:Westminster_P:very_expensive_S:room            499.811321                   9.226415   98.0        2.0              74.0                 72.0
L:Westminster_P:very_expensive_S:small           419.797546                   9.269939   98.0        3.0              67.0                 72.0

[447 rows x 6 columns]