In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import fivestar
from fivestar.data import get_data
from fivestar.encoders import AmenitiesEncoder, AmenitiesCounter, CancellationEncoder, RoomTypeEncoder, PriceRatioEncoder
from fivestar.encoders import AccomodatesToRoomsRatioEncoder, HostResponseRateEncoder, CategoricalColumnEncoder
from fivestar.encoders import ScoreDeltaEncoder

In [3]:
listings = get_data()
amen = AmenitiesEncoder()
amen.transform(listings)

,Freeparkingonpremises,Dryer,Wifi,Breakfast,Indoorfireplace,TV,Smokealarm
0,1,0,1,0,0,1,1
1,1,1,1,0,0,1,1
2,0,1,1,0,0,1,1
3,1,1,1,0,0,1,1
5,1,0,1,0,0,1,1
...,...,...,...,...,...,...,...
86352,1,0,1,0,0,0,1
86599,1,0,1,0,0,1,1
86651,0,1,1,0,0,0,1
86666,0,1,1,0,0,0,1
86667,0,1,1,0,0,0,1

In [4]:
listings.columns

Index(['id', 'name', 'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_identity_verified', 'street',
       'neighbourhood_cleansed', 'zipcode', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'reviews_per_month'],
      dtype='object')

In [5]:
amcount = ScoreDeltaEncoder()
amcount.transform(listings)

       cleanliness_score_delta
0                    -0.333333
1                     0.333333
2                     0.166667
3                    -0.333333
5                     0.500000
...                        ...
86352                 0.000000
86599                 0.000000
86651                 0.000000
86666                 0.166667
86667                 0.000000

[51749 rows x 1 columns]

In [6]:
def get_df_cluster_listings(borough, property_type, num_bedrooms, price):
    """
    Returns df of listings filters into cluster as defined by input params.
    Columns tbc
    """
    pass

def cluster_avg_review_score(cluster_df):
    """Already in df"""
    pass

def listing_rank_in_cluster(listing_id, cluster_df):
    pass

In [7]:
from fivestar.trainer import Trainer

In [8]:
X = listings
y = listings['review_scores_rating']

/Users/ed/.pyenv/versions/3.7.7/envs/5-star/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [9]:
trainer = Trainer(X,y)

In [10]:
trainer.set_pipeline()

LinearRegression

In [17]:
trainer.train()

/Users/ed/.pyenv/versions/3.7.7/envs/5-star/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

LinearRegression

In [18]:
trainer.evaluate()

/Users/ed/.pyenv/versions/3.7.7/envs/5-star/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

rmse train: 0.1953 || rmse val: 0.1818